@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0%;
  color: var(--grey) #E1E1E6;
}
html, body{
  height: 100%;
  place-items: center;
  
 
}
  body{
  display: grid;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
 
  --grey: hsl(240, 9%, 89%);
}
main{
  width: 100vw;
  height: 100vh;
  background: url(imagens/Mobile.png) no-repeat center/cover

}

#container{
  max-width: 250px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: var(--grey);
  margin-top: -7.1rem;
}
#avatar > span{
  position: absolute;
  z-index: 1;
  margin-top: -15px;
}
#avatar{
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}
#avatar > img{
  width: 10rem;
  height:  11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 76%, 49% 100%, 0 75%, 0 25%);
}
h1{
  
  font-size: 1.5rem;
  font-weight:bold;
  margin-top: 0.9rem;
}
a{
  text-decoration: none;
  font-weight: 400;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.85rem;
  align-items: center;
  justify-content: center;

}
p{
  font-weight: 400;
  margin-top:2.43rem ;
}
ul{
  list-style: none;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 0;
  margin-top: 4.5rem;
 }
.hole{
  display: none;
}
.faixa{
  display: none;}
 
  @media (min-width:720px){
    body{
      background: url(imagens/fotofundo.png) no-repeat center/cover;
      background-color: black;
    
    }
      main{
        background: url(imagens/backbadge.png)no-repeat center/cover;
        width: 22.37rem;
        height: 33.75rem;
        background-color:black;
        transition-property:  background-color, border-radius;
        transition-timing-function: ease-in;
        transition-duration: 1.7s  ;
       
        
        
      }
      main:hover{
        border-radius: 15px;
        background-color: #202024;
      } 
    }
  
 @media(min-width: 960px){

body{
  background: url(imagens/fotofundo.png) no-repeat center/cover;
  background-color: black;

}
  main{
    background: url(imagens/backbadge.png)no-repeat center/cover;
    width: 22.37rem;
    height: 33.75rem;
    background-color:black;
    transition-property: box-shadow, background-color, border-radius;
    transition-timing-function: ease-in;
    transition-duration: 1.7s  ;
    
    
  }


  .hole{
    display: block;
    position: absolute;
     margin-top: 1rem;
     margin: 1rem auto;
     right:0;
          left:0;
}
.faixa{
      display: block;
      position: relative;
      margin-top: -8.5rem;
      margin-right: auto;
      margin-left: auto;

}

#container{
  margin-top: -8.3rem;
} 
main:hover{
  border-radius: 20px;
  background-color: #202024;
  box-shadow: -5px -10px 30px #900, 6px 9px 15px rgb(250, 246, 0);
-webkit-box-shadow: -5px -10px 30px #900, 6px 9px 15px rgb(255, 217, 0);
-moz-box-shadow: -5px -10px 30px #900, 6px 9px 15px rgb(153, 138, 0);
}
}
